@{
    Layout = null;
}
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="UTF-8" />
    <title>远图自动更新服务端登录</title>
    <link rel="stylesheet" type="text/css" href="content/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="content/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="content/Css/style.css" />
    <script type="text/javascript" src="content/Js/jquery.js"></script>
    <script type="text/javascript" src="content/Js/bootstrap.js"></script>
    <script type="text/javascript" src="content/Js/ckform.js"></script>
    <script type="text/javascript" src="content/Js/common.js"></script>

    <link href="assets/css/bui-min.css" rel="stylesheet" />
    <link href="assets/css/dpl-min.css" rel="stylesheet" />
    <link href="assets/css/main-min.css" rel="stylesheet" />

    <script type="text/javascript" src="assets/js/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="assets/js/bui-min.js"></script>
    <script type="text/javascript" src="assets/js/common/main-min.js"></script>
    <script type="text/javascript" src="assets/js/config-min.js"></script>
    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        }

            .form-signin .form-signin-heading,
            .form-signin .checkbox {
                margin-bottom: 10px;
            }

            .form-signin input[type="text"],
            .form-signin input[type="password"] {
                font-size: 16px;
                height: auto;
                margin-bottom: 15px;
                padding: 7px 9px;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="form-signin">
            <h2 class="form-signin-heading">登录系统</h2>
            <form action="/Login" method="post" id="formid" onsubmit="return ToValid()">
                @Html.AntiForgeryToken()
                <input type="text" name="username" class="control-text" placeholder="名称">
                <div style="height:40px"> </div>
                <input type="password" name="password" class="control-text" placeholder="密码">
                <p><input class="btn btn-large btn-primary" value="登录" type="submit" onclick="Login()" /></p>
                <p><input id="errorMsg" type="hidden"  value="@Model"/></p>
            </form>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    function ShowError() {
        BUI.use('bui/overlay', function (overlay) {
            BUI.Message.Alert('账号密码错误', 'error');
        });
    }

    $(function () {
        var value = $('#errorMsg').val();
        if (value != "" &&value != null) {
            ShowError();
            $("input[name='username']").val("");
            $("input[name='password']").val("");
        }
    });

    function ToValid() {
        var userName = $("input[name='username']").val();
        var passWord = $("input[name='password']").val();
        if (userName == "") {
            $("input[name='username']").focus();
            return false;
        }
        else if (passWord == "") {
            $("input[name='password']").focus();
            return false;
        }
        return true;

    }
</script>
