@{
    Layout = null;
}
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />

    <script src="~/assets/js/jquery-1.8.1.min.js"></script>
    <script src="~/assets/js/bui.js"></script>
    <link href="~/assets/css/dpl-min.css" rel="stylesheet" />
    <link href="~/assets/css/bui-min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/Css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Css/bootstrap.css" />



    <style type="text/css">
        body {
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }

        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
            float: none;
            padding-left: 5px;
            padding-right: 5px;
        }

        s {
            color: red;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <form action="../UserPassWordReset" method="post" class="definewidth m20" onsubmit="return toVaild()">
        <table class="table table-bordered table-hover definewidth m10">
            <tr>
                <td class="tableleft">输入密码</td>
                <td><input type="password" name="firstPassword" /><s>&nbsp;*</s></td>
            </tr>
            <tr>
                <td class="tableleft">再次输入密码</td>
                <td><input type="password" name="secondPassword" onBlur="checkPwd()" /><s>&nbsp;*</s> <span style="color:red;display:none" id="checkPwdSpan">两次密码不一致</span></td>
            </tr>

            <tr>
                <td class="tableleft"></td>
                <td>
                    <input type="hidden" id="Name" name="Name" value="@Model" />
                    <button type="submit" class="btn btn-primary" >保存</button> &nbsp;&nbsp;<button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
                </td>
            </tr>

        </table>
    </form>
</body>
</html>
<script>

    var right = true;

    $(function () {
        $('#checkPwdSpan').hide();
        $('#backid').click(function () {
            window.location.href = "../UserManage";
        });
    });

    function checkPwd() {
        var fpwd = $("input[name='firstPassword']").val();
        var spwd = $("input[name='secondPassword']").val();
        if (fpwd != spwd) {
            $('#checkPwdSpan').show();
            right = false;
        }
        else {
            $('#checkPwdSpan').hide();
            right = true;
        }
    }

    function toVaild() {
        var fpwd = $("input[name='firstPassword']").val();
        var spwd = $("input[name='secondPassword']").val();
        if (fpwd == "" || spwd == "") {
            alert("请将信息填写完整");
            return false;
        }
        if (!right) {
            alert("两次密码不一致");
            return false;
        }
        return true;
    }
</script>
